.card {
  width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__description {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #212121;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-btn {
  width: 23px;
  height: 23px;
  border: none;
  opacity: 0.4;
  padding: 0;
  background: transparent; /* I've been asked to remove and to add this back so idk */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {

  .card {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    font-size: 16px;
    line-height: 1;
  }
}